.header-nav {
    display: flex;
    align-items: center; 
    justify-content: space-between;
  }
/*아이콘 호버시 카테고리*/
.menu-trigger {
  background-color: #ffffff;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-right: 15px;
  margin-left: 150px;
}
.Mainbar {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1
}
.Mainbar:hover .dropdown-content {
  display: block;
}
.Mainbar:hover .menu-trigger {
  background-color: #ffffff;
}

.Mainbar svg {
    margin-right: 150px;
  }
  
.menu-list {
  list-style: none;
  display: flex;
  gap: 50px;
  margin-right: 150px;
}

.menu-list a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  padding: 15px 0px;
  font-size: 15px;
}

.side-bar {
    align-items: center;
    display: inline-block;
    vertical-align: bottom;
}
.side-bar svg {
    align-items: center;
    margin-right: 25px;
}
.signUpButton {
    background-color: white;
    border: none;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.dashboardButton {
    font-size: 13px;
    color: #666;
    line-height: 30px;
    height: 30px;
    border: 1px solid #e1e2e3;
    border-radius: 15px;
    text-decoration: none;
    padding: 5px 10px;
    margin-left: 15px;
    font-weight: 400;
    cursor: pointer;
}