.header-nav {
    display: flex;
    align-items: center; 
    justify-content: space-between;
  }

.Mainbar button{
    margin-right: 15px;
    background-color: white;
    border: none;
    margin-left: 50px;
}
.Mainbar .logo img {
    width: 120px;
    height: auto;
  }
  
.menu-list {
  list-style: none;
  display: flex;
  gap: 50px;
  margin-right: 50px;
}

.menu-list a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  padding: 15px 0px;
  font-size: 13px;
}

.side-bar {
    align-items: center;
    display: inline-block;
    vertical-align: bottom;
}
.side-bar svg {
    align-items: center;
}
.signUpButton {
    background-color: white;
    border: none;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.dashboardButton {
    font-size: 13px;
    color: #666;
    line-height: 30px;
    height: 30px;
    border: 1px solid #e1e2e3;
    border-radius: 15px;
    text-decoration: none;
    padding: 5px 10px;
    margin-left: 15px;
    font-weight: 400;
}